*{
    margin: 0;
    padding: 0;
    text-align: initial;
    
    
    
}
body{
    font-size: 15px;
    
}
.box{
background-image: url(./Assets/bg.jpg);
text-align: center;
padding: 50px;
width: 500px;
margin: 0px 0px 0px 330px;

}
.container{
    margin-top: 50px;
    color: white;

}
.submit{
    columns: red;
}
.gender{
    color: black;
}